# Environment variables for dev Environment
# Copy this file to '.env'


# Database settings
MYSQL_ROOT_PASSWORD=yourlocalrootpassword

# Application database name and user
MYSQL_DATABASE=varaamo
MYSQL_USER=varaamo
MYSQL_PASSWORD=secret
