[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
varaamo = {editable = true, path = "."}
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
